.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

.project
.settings
*.jpg
*.jpeg
*.gif
*.png
*.htm
*.html
*.md
*.swf
*.flv
*.f4v
*.zip
*.dia*	
*.sql
*.rar
*.zip
assets/images/
assets/audios/
application/libraries/mPDF
assets/css/colorpicker
assets/css/bootstrap
assets/js/jquery
assets/js/colorpicker
documentacaoProspects/
PhpDocumentor/
